<!doctype html>

<head>
  <title>Create Routine</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" sizes="192x192" href="/images/icons/icon-192x192.png">
  <link rel="shortcut icon" sizes="150x150" href="/images/icons/icon-150x150.png">
  <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/icon-192x192.png">
  <link rel="apple-touch-icon" sizes="150x150" href="/images/icons/icon-150x150.png">
  <!-- iPhone Xr (828px x 1792px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
    href="/images/icons/launch-828x1792.png">
  <!-- iPhone X, Xs (1125px x 2436px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
    href="/images/iconsapple-launch-1125x2436.png">
  <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)"
    href="/images/icons/launch-1242x2208.png">
  <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
  <link rel="apple-touch-startup-image"
    media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
    href="/images/icons/launch-750x1334.png">
</head>

<body>
  {{> create}}
  {{> sw}}
  <script src="js/calendar.js"></script>
  <script>
    function updateAlarmText() {
      const alarmTime = $('#alarm').val();
      if (alarmTime === '') {
        $('#alarmStatus').html(`<small id="alarmHelp" class="form-text text-muted">Alarm has not been set.</small>`);
      } else {
        $('#alarmStatus').html(`<small id="alarmHelp" class="form-text text-success">Alarm has been set to ${militaryToStandard(alarmTime)}.</small>`);
      }
    }
  </script>

</body>

</html>